.blue {
  color: #0000EE; /* Blue */
}
.dodger-blue {
  color: #0088CB; /* Dodger Blue */
}
.dodger-blue {
  color: #0099FF; /* Dodger Blue */
}
.dodger-blue {
  color: #116DFF; /* Dodger Blue */
}
.dark-slate-gray {
  color: #242323; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #4A4A4A; /* Dark Slate Gray */
}
.dim-gray {
  color: #727272; /* Dim Gray */
}
.light-slate-gray {
  color: #909090; /* Light Slate Gray */
}
.gainsboro {
  color: #DBDBDB; /* Gainsboro */
}
.deep-pink {
  color: #EC008C; /* Deep Pink */
}
.white-smoke {
  color: #F0F0F0; /* White Smoke */
}
.deep-pink {
  color: #F3308E; /* Deep Pink */
}
.snow {
  color: #FCFCFC; /* Snow */
}
.magenta {
  color: #FF00FF; /* Magenta */
}
.light-lavender-gray {
  color: #B5B7C3; /* Light Lavender Gray */
}
.dark-slate {
  color: #2B3131; /* Dark Slate */
}
.pink-magenta {
  color: #BB2C6C; /* Pink Magenta */
}
.dark-wine {
  color: #781C45; /* Dark Wine */
}
